
header{
    a {
        margin :2px
        }
        
        .active-link{background-color:royalblue ;}    
}
.log{
    background-image: uri('../assests/logo.png');
    height:50px; 
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.mat-icon{
    vertical-align:middle;
    margin: 0 5px;
}